<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        LearnVocab
      {% endblock %}
    </title>
    <link rel="icon"
      href="{% block icon_url %}

      {% endblock %}"
      type="image/png" />
    {% block extra_head %}

    {% endblock %}
  </head>
  <body>
    {% include 'fragments/messages.html' %}
    {% block content %}

    {% endblock %}
    {% block extra_js %}

    {% endblock %}
  </body>
</html>
